h1{
    color: #2ecc71 !important;
  }
  /* a #rad{
      color: black !important;
      text-decoration: none;
  } */
  #ch{
    color: white !important;
  }
  #pright{
    float:right;
    color: #2ecc71 !important;
  }
  #pleft{
    float:left;
    color: #2ecc71 !important;
  }
  #fromname{
    color:whitesmoke; 
    float: left;

  }
  #toname{
    color:whitesmoke; 
    float: right;
  }
  #trainname{
    float: center;
    color: #2ecc71 !important;
  }

  #from {
    float: left;
    color: #2ecc71 !important;
  }

  #to{
    float: right;
    color: #2ecc71 !important;
  }

  table {
    width:100%;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
  table#t01 tr:nth-child(even) {
    background-color: #eee;
  }
  table#t01 tr:nth-child(odd) {
    background-color: #fff;
  }
  table#t01 th {
    background-color: black;
    color: white;
  }

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center !important;
    /* background-color: #34495e; */
    background-image: url("img/vintage.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    width: 90%;
    padding :40px;
    position: absolute;
    top :50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}


#ch,#side {
    text-decoration: none;
}
#op {
    text-decoration: none;
    color: #2ecc71;
}
/*.box input[type="date"]{*/
/*    text-transform: uppercase;*/
/*    color: gray;*/
/*}*/
#seatcount{
  border:0;
  display: block;
  text-align: center;
  background: none;
  margin: 20px auto;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white !important;
  border-color: #2ecc71;
  border-radius: 30px;
}

.box input[type="text"] , .box input[type="password"], .box input[type="number"], .box input[type="email"]{
    border:0;
    display: block;
    text-align: center;
    background: none;
    margin: 20px auto;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-color: #2ecc71;
    border-radius: 30px;
}

/*.box input[type="text"]:focus, .box input[type="password"]:focus{*/
/*    !* width: 250px; *!*/
/*    border-color: #2ecc71;*/
/*}*/

.box input[type="submit"], .box input[type="button"]{
    border:0;
    display: block;
    text-align: center;
    background: none;
    margin: 20px auto;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 25px;
}

.box input[type="submit"]:hover{
    background: #2ecc71;
}

/* .box a #dark{
    color:black !important; 
    padding-bottom: 10px; 
    text-decoration: none;
} */

.box a #ch{
  color:whitesmoke; 
  padding-bottom: 10px; 
  text-decoration: none;
}

#seat {
    text-decoration: none;
    color: aqua;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}