body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background-color: #34495e; */
    background-image: url("img/tracks.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    width: 300px;
    padding :40px;
    position: absolute;
    top :50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
}

.resultbox{
    width: 90%;
    padding :40px;
    position: absolute;
    /* top :50%;
    left:50%;
    transform: translate(-50%,-50%); */
    background: #191919;
    text-align: center;
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"], .box input[type="password"], .box input[type="date"], .box input[type="number"], .box input[type="email"]{
    border:0;
    display: block;
    text-align: center;
    background: none;
    margin: 20px auto;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 30px;
}

#ch {
    text-decoration: none;
}

.box input[type="date"]{
    text-transform: uppercase;
    color: gray;
}

.box input[type="text"]:focus, .box input[type="password"]:focus, .box input[type="number"]:focus, .box input[type="email"]:focus{
    /* width: 250px; */
    border-color: #2ecc71;
}

.box input[type="submit"], #subbutton{
    border:0;
    display: block;
    text-align: center;
    background: none;
    margin: 20px auto;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 25px;
}

.box input[type="submit"]:hover , #subbutton:hover{
    background: #2ecc71;
}

.box a{
    color:whitesmoke; 
    padding-bottom: 10px; 
    text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#bpnr, #bhistory, #blogout, #home{
    border:0;
    display: block;
    text-align: center;
    background: black;
    margin: 20px auto;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 25px;
}

#length{
    display: none;
    color: #2ecc71;
}

#check{
    display: none;
    color: green;
}

#green{
    color: #2ecc71 !important;
}

#white{
    color: white !important;
}

#datewarn{
    color: #e74c3c !important;
    display: none;
}
#blogout{
    position: fixed;
    top: 0px !important;
    right: 10px;
    float: right !important;
}
#home{
    position: fixed;
    top: 0px !important;
    left: 0px;
}
label{
    color: #2ecc71;
}
#hidden{
    display: none;
}