body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
     background-color: #191919;
    /*background-image: url("img/tracks.png");*/
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    width: 89%;
    padding :80px;
    /*position: absolute;*/
    /*top :50%;*/
    /*left:50%;*/
    /*transform: translate(-50%,-50%);*/
    background: #191919;
    text-align: center;
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"], .box input[type="password"], .box input[type="date"], .box input[type="number"], .box input[type="email"]{
    border:0;
    display: block;
    text-align: center;
    background: none;
    margin: 20px auto;
    border: 2px solid #2d3436;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 30px;
}

.box input[type="date"]{
    text-transform: uppercase;
    color: gray;
}

.box input[type="text"]:focus, .box input[type="password"]:focus, .box input[type="number"]:focus, .box input[type="email"]:focus{
    /* width: 250px; */
    border-color: #2d3436;
}

.box input[type="submit"], #subbutton{
    border:0;
    display: block;
    text-align: center;
    background: none;
    margin: 20px auto;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 25px;
}
.box input[type="button"]{
    border:0;
    display: block;
    text-align: center;
    background: none;
    margin: 20px auto;
    border: 2px solid #2d3436;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 25px;
}

.box input[type="submit"]:hover , #subbutton:hover, #bpnr:hover, #blogout:hover, #home:hover, #bhistory:hover, #addbtn:hover{
    background: #2ecc71;
}

.box a{
    color:whitesmoke; 
    padding-bottom: 10px; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#length{
    display: none;
    color: #2ecc71;
}

#check{
    display: none;
    color: green;
}

#green{
    color: #2ecc71 !important;
}

#datewarn{
    color: #e74c3c !important;
    display: none;
}

#blogout,#addbtn, #home{
    border:0;
    display: block;
    text-align: center;
    background: black;
    margin: 20px auto;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 25px;
}

#blogout{
    position: fixed;
    top: 0px !important;
    right: 10px;
    float: right !important;
}
label{
    color: #2ecc71;
    text-transform: uppercase;
}
        
h2{
    color: #2ecc71;
    text-transform: uppercase;
    font-weight: 500;
    text-align: left !important;
}

  h1{
      color: #2ecc71 !important;
  }
  p{
      float:right;
      color: #2ecc71 !important;
  }

  table {
      width:100%;
  }
  table, th, td {
      /*border: 1px solid black;*/
      border-collapse: collapse;
  }
  th, td {
      padding: 15px;
      /*text-align: center;*/
  }
  table#t01 tr:nth-child(even) {
      background-color: #eee;
  }
  table#t01 tr:nth-child(odd) {
      background-color: #fff;
  }
  table#t01 th {
      background-color: black;
      color: white;
  }
  button{
      background-color: #f44336;
      color: white;
      padding: 14px 25px;
      text-align: center;

  }
  button:hover{
      background-color: red;
  }

#hidden{
    display: none;
}
.hidden{
    display: none;
}
#home{
    position: fixed;
    top: 0px !important;
    left: 0px;
}

#seatbtn{
    text-align: center;
    background: gray;
    /* margin: 20px auto; */
    border: 2px solid gray;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 25px;
}

#seatbtn:hover{
    background: ghostwhite;
    color: black;
    border: 2px solid black;
}
#seatbtn:hover a{
    color: gray;
}

.trains th, .trains td{
    border-collapse: collapse;
    border: 0px solid ;
}
.trains table{
    border-collapse: collapse;
    border: 0px solid;
}
.boxed{
    border: 1px solid gray;
}
.left{
    margin-left: 10px;
    text-align: left;
}
.heading{
    font-size: 15px;
    color: #bdc3c7;
}
.namebox{
    text-align: left ; width: 33%;
}

.width33{
    width: 33%;
}
.text30{
       font-size: 30px;
}
.text25{
    font-size: 25px;
}